<div class="card">

    <div class="card__carousel">

        <div class="carousel__container">
            <img src="{{src}}" alt="{{title}}" />
        </div>

    </div>

    <div class="row">
        <span class="card__title"> {{title}} </span>

        <span class="card__ratings"> {{rating}} </span>
    </div>

    <div class="card__text"> {{location}} </div>

    <div class="row">

        <span class="card__text"> {{date}} </span>
    
        <span class="card__text"> {{ownerType}} </span>
    
    </div>

    <div class="card__text"> <b> {{price}} </b> par nuit</div>

</div>