<div class="apartment"> 

    <gallery-full 
        *ngIf="displayFullGallery" 
        (hideFullGalleryEvent)="unsetDisplayFullGallery()"
    > 
    </gallery-full>
    
    <div class="container max-w-[1120px] mx-auto">

        <div class="row">
            <h1 class="title"> {{apartment.name}}</h1>
        </div>

        <div class="row flex justify-between">
            <div class="col flex gap-x-[1em]">
                <span class="ratings"> {{apartment.review_scores_accuracy}}</span>
                <span class="comments"> {{apartment.number_of_reviews}} comments</span>
                <span class="is-superhost"> {{apartment.host_is_superhost}}</span>
                <span class="location"> {{apartment.neighbourhood}}</span>
            </div>
            <div class="col flex gap-x-[1em]">
                <span class="share">Partager</span>
                <span class="save">Enregistrer</span>
            </div>
        </div>

        <gallery-preview 
            [gallery]="apartment.gallery" 
            [alt]="apartment.name" 
            (displayFullGalleryEvent)="setDisplayFullGallery()"
            >
        </gallery-preview>

        <div class="row">
            {{apartment.description}}
        </div>

    </div>

</div>