<top-navbar containerWidth="container-lg"></top-navbar>

<gallery-full 
    *ngIf="displayFullGallery && apartment"
    [gallery]="apartment.gallery"
    (hideFullGalleryEvent)="unsetDisplayFullGallery()"
> 
</gallery-full>

<div class="apartment" *ngIf="apartment"> 
    
    <div class="container container-lg">

        <div class="row">
            <h1 class="title"> {{apartment.name}}</h1>
        </div>

        <div class="row flex justify-between">
            <div class="col flex gap-x-[1em]">
                <span class="ratings"> {{apartment.review_scores_accuracy}}</span>
                <span class="comments"> {{apartment.number_of_reviews}} comments</span>
                <span class="is-superhost"> {{apartment.host_is_superhost}}</span>
                <span class="location"> {{apartment.neighbourhood}}</span>
            </div>
            <div class="col flex gap-x-[1em]">
                <span class="share">Partager</span>
                <span class="save">Enregistrer</span>
            </div>
        </div>

        <gallery-preview 
            [gallery]="apartment.gallery" 
            [alt]="apartment.name" 
            (displayFullGalleryEvent)="setDisplayFullGallery()"
        >
        </gallery-preview>

        <div class="col">

            <div class="row flex">
                
                <div class="col">
                    <div class="row">
                        <span class="text font-medium"> {{apartment.property_type}}</span>
                        <span class="text font-medium"> · </span>
                        <span class="text font-medium"> Chez {{apartment.host_name}}</span>
                    </div>

                    <div class="row">
                        <span class="text font-medium"> {{apartment.accommodates}} voyageurs </span>
                        <span class="text font-medium"> {{apartment.bedrooms}} chambres privées </span>
                        <span class="text font-medium"> {{apartment.beds}} lits </span>
                        <span class="text font-medium"> {{apartment.bathrooms}}  salle de bain privée </span>            
                    </div>
                </div>

                <div class="col">
                    <img 
                        class="w-[56px] rounded-[50px]"
                        [src]="apartment.host_picture_url" 
                        [alt]="apartment.host_location"
                    >
                </div>

            </div>

            <div class="cancellation flex">
                <img src="./assets/icons/calendar.svg" class="w-[24px]" alt="calendar" />
                <span> Annulation gratuite avant le {{ addDays(today, 15) | toLocaleDate }}</span>
            </div>


        </div>

        <div class="row">
            {{apartment.description}}
        </div>

    </div>

</div>