<div class="navbar-sticky sticky top-0 z-[2] bg-white">
    <top-navbar containerWidth="container-xl"></top-navbar>

    <div class="container container-xl row flex items-center justify-between gap-8">
        <category-navbar class="hidden-scrollbar overflow-x-scroll"></category-navbar>
        <filter-modal-button> </filter-modal-button>
    </div>

</div>
<div class="home container container-xl py-8"> 

    <card-group 
        class="grid grid-cols-auto-270px auto-rows-[400px] gap-4"
        [items]="apartments"
    >

        <a 
            *ngFor="let apartment of apartments"
            routerLink="/apartment/{{apartment.id}}"
        >

            <card
                class="card h-full flex flex-col"
                [title]="apartment.name" 
                [src]="apartment.picture_url"
            > 

                <card-row class="card__row flex justify-between"> 
                    <card-text class="card__title" [text]="apartment.neighbourhood"></card-text>
                    <card-text class="card__text" [text]="apartment.review_scores_accuracy | toString "></card-text>
                </card-row>

                <card-text class="card__text" [text]="apartment.name"></card-text>

                <card-row class="card__row">
                    <card-text class="card__text" [text]="apartment.host_since"></card-text>
                    <card-text class="card__text" [text]="apartment.host_name"></card-text>
                </card-row>

                <card-text class="card__text" [text]="apartment.price"></card-text>

            </card>

        </a>

    </card-group>

</div>