<top-navbar containerWidth="container-lg" />



@if (house$ | async; as house) {

    <gallery-full 
        *ngIf="displayFullGallery"
        [gallery]="house.gallery"
        (hideFullGalleryEvent)="unsetDisplayFullGallery()"
    /> 

    <div class="house">
        
        <div class="container container-lg py-4">

            <div class="row mb-2">
                <h1 class="title text-3xl font-medium"> {{house.name}}</h1>
            </div>

            <div class="row flex justify-between mb-4">
                <div class="col flex gap-x-[1em]">
                    <span class="ratings flex gap-1"> 
                        <img src="./assets/icons/star.svg" class="w-[14px]"/>
                        {{house.review_scores_accuracy}}
                    </span>
                    <span class="comments"> 
                        <button class="underline font-medium"> {{house.number_of_reviews}} commentaires</button>
                    </span>
                    <span class="location">                     
                        <button class="underline font-medium"> {{house.neighbourhood}}</button>
                    </span>
                </div>
                <div class="col flex gap-x-4">
                    <span class="share  flex gap-2"> 
                        <img src="./assets/icons/share.svg" class="w-[16px]" alt="share"/> 
                        <button class="underline"> Partager </button>
                    </span>
                    <span class="save underline flex gap-2"> 
                        <img src="./assets/icons/heart.svg" class="w-[16px]" alt="heart"/>
                        <button class="underline"> Enregistrer </button>
                    </span>
                </div>
            </div>

                
            <gallery-preview 
                [gallery]="house.gallery" 
                [alt]="house.name" 
                (displayFullGalleryEvent)="setDisplayFullGallery()"
            />
        

            <div class="row flex gap-8 mt-4">

                <div class="col-left">

                    <div class="row flex justify-between py-4">
                        
                        <div class="col">
                            <div class="row text-xl font-medium">
                                <span class="text after:content-['_·']"> {{house.property_type}}</span>
                                <span class="text"> Chez {{house.host_name}}</span>
                            </div>

                            <div class="row font-light">
                                <span class="text after:content-['_·']"> {{house.accommodates}} voyageurs </span>
                                <span class="text after:content-['_·']"> {{house.bedrooms}} chambres privées </span>
                                <span class="text after:content-['_·']"> {{house.beds}} lits </span>
                                <span class="text"> {{house.bathrooms}} salle de bain privée </span>            
                            </div>
                        </div>

                        <div class="col">
                            <img 
                                class="w-[56px] rounded-[50px]"
                                [src]="house.host_picture_url" 
                                [alt]="house.host_location"
                            >
                        </div>

                    </div>

                    <div class="cancellation flex py-4 gap-2 border-t">
                        <img src="./assets/icons/calendar.svg" class="w-[24px]" alt="calendar" />
                        <span> Annulation gratuite avant le {{ addDays(today, 15) | toLocaleDate }}</span>
                    </div>


                    <div class="aircover flex flex-col items-start gap-4 py-8 border-t">
                        <img src="./assets/logos/aircover_logo.png" class="h-[26px]" alt="aircover">
                        <div class="text font-semilight">
                            Chaque réservation comprend une protection gratuite en cas d'annulation par l'hôte, d'inexactitudes dans la description du logement, ainsi que d'autres problèmes comme les difficultés d'accès au logement.
                        </div>
                        <button class="underline font-medium"> En savoir plus </button>
                    </div>

                    <div 
                        class="description font-semilight py-4 border-t" 
                        [innerHTML]="house.description">
                    </div>

                </div>

                <div class="col-right min-w-[370px] py-4 ">
                    <booking-form  class="" [house]="house" />
                </div>

            </div>

        </div>
        

    </div>
    
}