<mat-dialog-content class="mat-typography">

    <div class="flex flex-col">

        <div class="item flex justify-between items-center  px-3 py-4 border-b">
        
            <div class="flex flex-col"> 
                <span class="font-bold text-black"> Adultes</span>
                <span class=""> 13 ans et plus </span>
            </div>

            <counter-button />

        </div>


        <div class="item flex justify-between items-center px-3 py-4 border-b">
        
            <div class="flex flex-col"> 
                <span class="font-bold text-black"> Enfants</span>
                <span class=""> De 2 à 12 ans </span>
            </div>

            <counter-button />

        </div>

        <div class="item flex justify-between items-center px-3 py-4 border-b">
        
            <div class="flex flex-col"> 
                <span class="font-bold text-black"> Bébés </span>
                <span class=""> - de 2 ans </span>
            </div>

            <counter-button />

        </div>


        <div class="item flex justify-between items-center px-3 py-4">
        
            <div class="flex flex-col"> 
                <span class="font-bold text-black"> Animaux domestiques </span>
            </div>

            <counter-button />

        </div>

    </div>

</mat-dialog-content>
